<article>
  <h1>About Meditation Cards</h1>
  <p>Please follow the advice on these cards at your own personal discretion.
  I'm just software developer and not a licensed therapist, physician or in any way qualified to offer medical or psychological advice.</p>
</article>
