<article>
    <div id="card_collection" class="swipe">
      <div class="swipe-wrap">
      <% @random_cards.each do |card| %>
        <div>
        <!-- <form action="" method="get"> -->
          <button onclick='mySwipe.next()'>
            <h1 class="fit-text-phrase"><%= card.phrase %></h1>
            <p class="fit-text-help"><%= card.help %></p>
          </button>
       <!--      </form> -->
        </div>
      <% end %>
      </div>
    </div>
</article>
