<article>
  <div id="card_collection" class="swipe">
    <div class="swipe-wrap">
      <div id="intro-card">
        <button onclick='mySwipe.next()'>
          <h1>Meditation Cards</h1>
          <p>Spend a minute or so every morning with each of the following cards. Your cards will be slightly different every time.</p>
          <p>(Tap/Swipe to continue)</p>
        </button>
      </div>
      <% @random_cards.each do |card| %>
      <div>
        <button onclick='mySwipe.next()'>
          <h1><%= card.phrase %></h1>
          <p><%= simple_format(card.help) %></p>
        </button>
      </div>
      <% end %>
      <div>
        <button>
          <h1>Enjoy your day!</h1>
          <p><%= link_to "Follow us on Twitter", "https://twitter.com/meditationcards" %>.</p>
        </button>
      </div>
    </div>
  </div>
</article>
