@import "variables";
@import "utility_classes";
@import "icomoon";
@import "swipejs";


// http://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height 
html{ 
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
  font-size: 16px;
  margin:0;
  padding:0;
  font-family: 'Rosarivo', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

a {
  color:$link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  [class^="icon-"], [class*=" icon-"] {

      &:hover {
        color:lighten( $link-color, 10% );
        cursor: pointer;
        text-decoration: none;
    }
  }
}


img {
  &.icon {
    height: 1.3em;
    width: auto;
    fill: none;
    pointer-events: all;

    &:hover {
      fill: red;

    }
  }
}
article {
  
  h1 {
    display: block;
    font-family: 'Rosarivo', Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding:0;
    margin: 0;
    color:$text-color;
    z-index: 1;
    line-height: 1.3;
    font-size: 3em;
    font-weight:normal; //fix for iphone safari double rendering bug
}
p {
  color: #808080;
  font-size: 1.5em;
  margin-top:.5em;
  font-family: 'Rosarivo', Arial, "Helvetica Neue", Helvetica, sans-serif;

   &.help {
    font-size: 1.3em;
   }
}

  form {
    height: 100%;
  }

button {
      width: 100%;
      height: 100%;
      border:none; 
      background-color:#ffffff;
      cursor:pointer;
      padding:2em;

      text-align: left;

      &:focus {
        outline: none;
      }
    } //button
  } // article

footer, .push {
  //display: table;
  
  height: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  font-size: .8em;
  color: $light-gray;

  table {
    width: 100%;
     tr {

    td {
      height: 2em;
      vertical-align: middle;
      .copyright {
        display: inline-block;
      }

      a {
        color: $light-gray;
        padding-left:.5em;
        font-size: 1.5em;
      }
    }
  }

  }
  

    p {
      //height: 2em;
      //display: table-cell;
      //vertical-align: middle;
      //line-height: 2em;

      
    }
}

  // MEDIA QUERIES
// ------------------------------

//larger than iphone
// @media all and (min-width:641px) {
//   h1 {
//     font-size: 10em;
//   }
//   p {
//     font-size: 2em;
//   }

// }